<div class="sidebar" data-color="orange">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
  <div class="logo">
    <a target="_blank"
     href="/" 
       class="simple-text logo-mini">
      <!-- AW -->
    </a>
    <a href="/"><img src="/static/assets/img/logo.png" alt="#" width="100px" /></a>
  </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
      {% if request.user.is_authenticated %}
        <li class="{% if 'index' in segment %} active {% endif %}">
          <a href="{% url 'supplier' %}">
            <i class="now-ui-icons design_app"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="{% if 'add_sup_req' in segment %} active {% endif %}">
          <a href="{% url 'put_request' %}">
            <i class="now-ui-icons education_atom"></i>
            <p>Put Request</p>
          </a>
        </li>
        <li class="{% if 'notifications' in segment %} active {% endif %}">
          <a href="{% url 'supplier_notification' user.id %}">
            <i class="now-ui-icons education_atom"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="{% if 'user_profile' in segment %} active {% endif %}">
          <a href="{% url 'sup_user' user.id %}">
            <i class="now-ui-icons users_single-02"></i>
            <p>User Profile</p>
          </a>
        </li> 
        <li class="">
            <a href="{% url 'logout' %}">
                <i class="now-ui-icons media-1_button-power"></i>
                <p>Logout</p>
            </a>
        </li>        
        {% else %}
        <li class="active">
          <a target="_blank"
             href="/login">
            <i class="now-ui-icons objects_spaceship"></i>
            <p>Login</p>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
