{% extends "layouts/base.html" %}

{% block title %} Managers {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">All Users</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Name
                    </th>
                    <th>
                      Email
                      
                    </th>
                    <th>
                      Date Joined
                    </th>
                    <th>
                      Role                      
                    </th>
                    <th class="text-right">
                      Actions
                    </th>
                  </thead>
                  <tbody>
                    {% for users in users %}
                      <tr>
                        <td>
                          {{users.username}}
                        </td>
                        <td>
                          {{users.email}}
                        </td>
                        <td>
                          {{users.date_joined}}
                        </td>
                        <td>
                          {% if users.is_superuser %}
                            Admin
                          {% elif  users.is_manager %}
                            Manager
                          {% elif  users.is_warteam %}
                            WareHouse Team
                          {% elif  users.is_opsteam %}
                            Operations Team
                          {% elif  users.is_supplier %}
                            Manager
                          {% else %}
                            Unknown
                          {% endif %}
                        </td>
                        <td class="text-right">
                          <a href="{% url 'delete_user' users.id %}" class="btn btn-danger">Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
